[project]
name = "__APP_PACKAGE__"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = [
  "apptheory @ https://github.com/theory-cloud/AppTheory/releases/download/__APPTHEORY_TAG__/apptheory-__APPTHEORY_VERSION__-py3-none-any.whl",
]
